$font-stack: Helvetica, sans-serif;
$primary-color: #6a747d;
$navigation-background: #6b9ad0;
$navigation-bottom-background: #c6defa;
$styled-title-background: #6894b7;
$info-block-borders: #e1e5e8;
$content-top-offset: 50px;
$badge-background: #6894b7;
$badge-background-hover: #b2d4ed;
$social-buttons-inactive: #d1dae3;
$b-navigation-menu-item: #7ca8d9;
$e-navigation-menu__item-background: #e1effc;

%mix-clearfix {content: ""; display: table; clear: both;}
%social-button {padding: 0 8px 0 4px; display: inline-block; border-radius: 5px; vertical-align: bottom; height: 25.5px; background-color: $social-buttons-inactive;}
%social-button-active {cursor: pointer;}
%horizontal-centering {position: relative; top: 50%; transform: translateY(-50%);}
%b-navigation-menu-item {position: absolute; padding: 15px 20px; background-color: $b-navigation-menu-item; z-index: 99; height: 19px; display: none;}

html, body, .l-page { height:100%; overflow-x: hidden;}
body {font: 100% $font-stack; color: $primary-color;}

.l-header {height: 78px;}
.l-navigation-menu {background-color: $navigation-background; height: 53px; position: relative; z-index: 0;}
.l-navigation-menu:after {display: block; content: ' '; background-color: $navigation-bottom-background; height: 4px; position: absolute; bottom: 0; width: 100%; z-index: -1;}
.l-side {float: right; width: 255px; height: 100%;  margin: 0 auto; position: absolute; left: 0; right: 0; transform: translateX(335px);  margin-top: $content-top-offset;}
.l-articles {width: calc(100% - 255px); max-width: 645px; margin: 0 auto; position: absolute; left: 0; right: 0; transform: translateX(-145px); margin-top: $content-top-offset;}
.l-content {width: calc(100% - 255px);}
.l-side__item {margin-top: 38px;}
.l-side__item:first-child {margin-top: 0;}

.b-logo {background: url("/images/b-logo.png") no-repeat; width: 370px; height: 58px; margin: 0 auto; position: relative; top: 50%; transform: translateY(-50%); display: block;}
.b-logo__navigation-menu {@extend %horizontal-centering; position: absolute; background: url("/images/b-logo__small.png") no-repeat; width: 41px; height: 39px; margin: 0 auto; left: 0; right: 0; transform: translateY(-50%) translateX(-450px); display: none;}
.b-navigation-menu {@extend %horizontal-centering; text-align: center; margin: 0; padding: 0; list-style: none;}
.b-navigation-menu > li {display: inline-block;}
.b-styled-title {position: relative;}
.b-styled-title:after {@extend %mix-clearfix;}
.b-styled-title:before {display: block; content: ' '; background-color: $styled-title-background; height: 4px; position: absolute; bottom: 0; width: 100%; z-index: -1;}
.b-text-content {margin-top: 20px;}
.b-info-panel {padding: 15px 10px; border-bottom: $info-block-borders solid 1px; border-top: $info-block-borders solid 1px; font-size: 15px;}
.b-info-panel > div { margin-right: 15px;}
.b-datetime, .b-datetime > div, .b-datetime > img {display: inline-block;}
.b-author, .b-author > div, .b-author > img,  .b-author > .e-author__author-prefix {display: inline-block; text-decoration: none; color: $primary-color;}
.b-author:hover .e-author__author {text-decoration: underline;}
.b-badge {background-color: $badge-background; padding: 5px 20px 5px 15px; display: inline-block; color: #ffffff; margin-bottom: 5px; position: relative; margin-right: 15px; border-bottom-right-radius: 5px; border-top-right-radius: 5px;}
.b-badge:hover {@extend .b-badge; background-color: $badge-background-hover; cursor: pointer;}
.b-badge:after { content: ' '; width: 0; height: 0; border-style: solid; border-width: 15px 0 13px 17px; right: -14px; top: 0; border-color: transparent transparent transparent $badge-background; position: absolute;}
.b-badge:hover:after {border-color: transparent transparent transparent $badge-background-hover;}
.b-badge:before { content: ' '; background-color: #ffffff; height: 8px; width: 8px; border-radius: 8px; position: absolute; right: 0; top: 10px; z-index: 1;}
.b-article {position: relative; margin-top: 50px;}
.b-article:first-child {margin-top: 0;}
.b-social-panel { display: inline-block; position: absolute; right: 0; margin-top: 12px;}
.b-social-button__facebook {@extend %social-button;}
.b-social-button__facebook:hover {@extend %social-button-active; background-color: #3c5a98; }
.b-social-button__google-plus {@extend %social-button; }
.b-social-button__google-plus:hover {@extend %social-button-active; background-color: #c15234; }
.b-social-button__twitter {@extend %social-button;}
.b-social-button__twitter:hover {@extend %social-button-active; background-color: #00abf0; }
.b-social-button__vk {@extend %social-button;}
.b-social-button__vk:hover {@extend %social-button-active; background-color: #48739e; }
.b-social-button__yandex {@extend %social-button;}
.b-social-button__yandex:hover {@extend %social-button-active; background-color: #d83933; }
.b-navigation-menu-item__exclamation {@extend %b-navigation-menu-item; left: 0;}
.b-navigation-menu-item__exclamation:hover {cursor: pointer;}
.b-navigation-menu-item__question {@extend %b-navigation-menu-item; right: 0;}
.b-navigation-menu-item__question:hover {cursor: pointer;}
.b-navigation-menu-item__tag {@extend %b-navigation-menu-item; right: 0;}
.b-navigation-menu-item__tag:hover {cursor: pointer;}
.b-navigation-menu-item__sandwitch {@extend %horizontal-centering; }

.e-navigation-menu__item {text-transform: uppercase; font-size: 16px; list-style: none; display: inline; color: #ffffff; text-decoration: none; padding: 15px 30px 11px 30px;}
.e-navigation-menu__item:hover {background-color: #7ca8d9;}
.e-navigation-menu__item-active { @extend .e-navigation-menu__item; position: relative;}
.e-navigation-menu__item-active:after { content: ' '; width: 0; height: 0; border-style: solid; border-width: 10px 10px 0 10px;  border-color: $navigation-background transparent transparent transparent; position: absolute; left: 0;  right: 0;  bottom: 0;  margin: 0 auto -10px;  z-index: 99; }
.e-navigation-menu__item-active:before { content: ' '; width: 0; height: 0; border-style: solid; border-width: 10px 10px 0 10px;  border-color: $navigation-bottom-background transparent transparent transparent; position: absolute; left: 0;  right: 0;  bottom: 0;  margin: 0 auto -15px;  z-index: 99; }
.e-styled-title__icon {padding: 5px 10px 5px 10px; background-color: $styled-title-background; color: #ffffff; display: inline-block; float: left; font-weight: 600;}
.e-styled-title__title {float: left; color:  $styled-title-background; padding-left: 15px; padding-top: 5px; text-transform: uppercase; font-weight: 600;}
.e-article__title {color: $primary-color; font-weight: bold; font-size: 18px; margin: 12px 0; display: block; text-decoration: none;}
.e-article__title:hover {text-decoration: underline;}
.e-article__image {width: 100%;}
.e-datetime__image-clock {margin-right: 5px;}
.e-author__image-foot {margin-right: 5px;}
.e-social-button__counter {float: right;color: #ffffff; padding-right: 6px; line-height: 26px;}
.e-social-button__icon-facebook { padding: 0 8px; position: relative; top: 2px;}
.e-social-button__icon-google-plus { padding: 0; position: relative; top: 4px; left: -4px;}
.e-social-button__icon-twitter { padding-left: 4px; position: relative; top: 4px; left: -4px;}
.e-social-button__icon-vk { padding: 0 8px; position: relative; top: 5px;}
.e-social-button__icon-yandex { padding: 0 8px; position: relative; top: 2px;}


@media only screen and (max-width:980px) {
  .l-side { float : none; height : auto; margin : 0 auto 30px auto; position : static; transform : none; width : 90%; }
  .l-articles { float : none; max-width : none; padding : 0 75px 0 5%; position : relative; transform : none; width : calc(95% - 75px); }
  .l-side__item { text-align : center; }
  .l-side__item-minimize { display : none; }

  .b-badge { margin-bottom : 10px; }
  .b-social-panel { display : block; margin-top : 0; position : absolute; right : -75px; top : 0; }
  .b-social-panel > div { display : block; margin-top : 10px; }
  .b-social-panel > div:first-child { margin-top : 0; }
  .b-logo__navigation-menu { display : none !important; }
  .b-navigation-menu-item__exclamation {display: block;}
  .b-navigation-menu-item__question {display: block;}
}

@media only screen and (max-width:750px) {
  .l-side__item {display: none;}
  .l-articles {padding: 0 5%; width: 90%;}

  .b-social-panel {bottom: -40px; left: 0; top: auto;}
  .b-social-panel > div {display: inline-block;}
  .b-article {margin-top: 80px;}
  .b-navigation-menu-item__sandwitch {background: url("/images/e-sandwitch.png") no-repeat; background-size: 28px 16px; background-position: 97% 50%; height: 20px; z-index: 999; width: 30px; float: right; margin-right: 2%;}
  .b-navigation-menu {width: 100%; height: 20px; cursor: pointer; left: 0; right: 0; margin: 0 auto; }
  .b-navigation-menu > li {display: none; border-bottom: #ffffff solid 1px; user-select: none;}
  .b-navigation-menu > li:last-child {border-bottom: none;}
  .b-navigation-menu > li:first-child {padding-top: 35px;}
  .b-navigation-menu > li > a {display: block; background-color: $e-navigation-menu__item-background; color: #6c9ace; margin: 0; padding-left: 0;}
  .b-navigation-menu-item__tag {display: block;}
  .b-navigation-menu-item__exclamation, .b-navigation-menu-item__question, .b-navigation-menu-item__tag   {display: block; position: static; float: left; margin: 0 3px;}

  .e-navigation-menu__item-active:before {display: none;}
  .e-navigation-menu__item-active:after {display: none;}
}

@media only screen and (max-width:550px) {
  .l-navigation-menu {height: 35px;}
  .l-navigation-menu:after {background-color: transparent;}

  .b-logo {background: url("/images/b-logo__mobile.png") no-repeat; width: 251px; height: 37px; }
  .b-navigation-menu-item__exclamation, .b-navigation-menu-item__question, .b-navigation-menu-item__tag {padding: 5px 10px;}
  .b-navigation-menu-item__sandwitch { background-size: auto; }
  .b-navigation-menu {height: 40px;}
}