<div class="b-navigation-menu-item__exclamation">
    <img class="e-navigation-menu-item__icon" src="./images/e-exclamation.png">
</div>
<div class="b-navigation-menu-item__question">
    <img class="e-navigation-menu-item__icon" src="./images/e-question.png">
</div>
<div class="b-navigation-menu-item__tag">
    <img class="e-navigation-menu-item__icon" src="./images/e-pencil.png">
</div>
<div class="b-navigation-menu-item__sandwitch"></div>
<ul class="b-navigation-menu">
    <li><a class="e-navigation-menu__item js-menu-item" href="javascript:void(0)">JavaScript</a></li>
    <li><a class="e-navigation-menu__item  js-menu-item" href="javascript:void(0)">CSS</a></li>
    <li><a class="e-navigation-menu__item-active  js-menu-item" href="javascript:void(0)">Latest</a></li>
    <li><a class="e-navigation-menu__item  js-menu-item" href="javascript:void(0)">HTML</a></li>
    <li><a class="e-navigation-menu__item  js-menu-item" href="javascript:void(0)">Design</a></li>
</ul>
<div class="b-logo__navigation-menu"></div>
