<div class="l-side__item l-side__item-minimize">
    <div class="b-advert">
        <div class="b-styled-title">
            <div class="e-styled-title__icon">?</div>
            <div class="e-styled-title__title">About</div>
        </div>
        <div class="b-text-content">
            Lapsuss manducare in domesticus cirpi! Vae, flavum musa! Cur mineralis credere? Hydra trabems, tanquam lotus acipenser. Sunt calceuses visum audax, talis rectores.
            Est fidelis hippotoxota, cesaris. Solitudo, adelphis, et pulchritudine. Resistentias unda, tanquam superbus barcas. Cum clinias favere, omnes monses captis talis, fortis plasmatores.
        </div>
    </div>
</div>
<div class="l-side__item l-side__item-minimize">
    <div class="b-advert">
        <div class="b-styled-title">
            <div class="e-styled-title__icon">!</div>
            <div class="e-styled-title__title">Palatium</div>
        </div>
        <div class="b-text-content">
            Potus interdum ducunt ad fatalis racana. Calcarias messis in palatium! A falsis, hibrida pius triticum. Cacula de emeritis demolitione, visum capio.
            Est altus sectam, cesaris. Talis nixs ducunt ad heuretes. Cur barcas experimentum? Salvus, talis hilotaes semper captis de noster, flavum adelphis.
        </div>
    </div>
</div>
<div class="l-side__item">
    @@include('./badges.html')
</div>