<div class="b-social-button__facebook">
    <img class="e-social-button__icon-facebook" src="./images/e-badge__facebook.png">
    <div class="e-social-button__counter">16</div>
</div>
<div class="b-social-button__google-plus">
    <img class="e-social-button__icon-google-plus" src="./images/e-badge__google-plus.png">
    <div class="e-social-button__counter">7</div>
</div>
<div class="b-social-button__twitter">
    <img class="e-social-button__icon-twitter" src="./images/e-badge__twitter.png">
    <div class="e-social-button__counter">15</div>
</div>
<div class="b-social-button__vk">
    <img class="e-social-button__icon-vk" src="./images/e-badge__vk.png">
    <div class="e-social-button__counter">16</div>
</div>
<div class="b-social-button__yandex">
    <img class="e-social-button__icon-yandex" src="./images/e-badge__yandex.png">
    <div class="e-social-button__counter">1</div>
</div>